// Color definitions

// Neutrals
$black: #000000;
$white: #ffffff;

// Greens
$green-1: #144715;
$green-2: #839788;

$bright-green-1: #00A878;

// Yellows
$yellow-1: #f9d56e;

// Reds
$red-1: #e8505b;
$red-2: #c9444e;

// Blues
$blue-1: #6EB4D1;
$blue-2: #5991a8;
$blue-3: #426e80;

// Greys
$light-grey-1: #dcdcdc;
$light-grey-2: #eeeeee;
$light-grey-3: #fafafa;
$light-grey-4: #e3e3e3;

$dark-grey-1: #a9a9a9;
$dark-grey-2: #0B0500;

// General
$brand-color: $green-1;
$secondary-brand-color: $green-2;
$action-color: $blue-1;
$action-color-hover: $blue-2;
$link-color: $blue-2;
$link-color-hover: $blue-3;
$text-color: $black;
$error-color: $red-1;

// Buttons
$primary-button-background-color: $white;
$primary-button-background-color-hover: $light-grey-3;
$secondary-button-background-color: $light-grey-2;
$secondary-button-background-color-hover: $light-grey-1;
$warning-button-background-color: $red-1;
$warning-button-background-color-hover: $red-2;
$button-text-color-inverted: $white;

// Cards
$card-background-color: $white;

// Borders
$border-color: $light-grey-1;

// Chip component
$watered-color: $blue-1;
$no-info-color: $dark-grey-1;
$mood-dead-color: $dark-grey-2;
$mood-sad-color: $red-1;
$mood-okay-color: $yellow-1;
$mood-happy-color: $bright-green-1;