$thin-border: 1px solid $border-color;

$button-border-radius: 5px;
$button-padding: 0.8rem 1rem;

$max-body-width: 1280px;

$z-index-sticky: 100;
$z-index-above-cards: 50;
$z-index-modal: 200;

$text-shadow-fancy: -4px 3px 1px $text-color;

$screen-width-desktop: 1280px;
$screen-width-small-desktop: 1028px;
$screen-width-tablet: 800px;