@import "view/styles/all";

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.card {
    background-color: $card-background-color;
    border-radius: 20px;
    padding: 3rem;
}

.main {
    display: flex;
    justify-content: flex-start;

    @media (max-width: $screen-width-tablet) {
        flex-direction: column;
    }
}

.mainLeft,
.mainRight {
    width: 50%;
    box-sizing: border-box;

    @media (max-width: $screen-width-tablet) {
        width: 100%;
    }
}

.mainLeft {
    @media (min-width: $screen-width-tablet) {
        padding-right: 1rem;
    }
}

.mainRight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (min-width: $screen-width-tablet) { 
        padding-left: 3rem;
    }

    @media (max-width: $screen-width-tablet) {
        margin-top: 1rem;
    }
}

.main,
.calendar {
    margin: 3rem 0;
}

.detailLine {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.subTitle {
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottomBuffer {
    margin-bottom: 1rem;
}

.chips {
    div:not(:first-child) {
        margin-left: 1rem;
    }
}