@import "view/styles/all";

.hero {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80vh;
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $brand-color;
}

.desc {
    display: flex;
    max-width: $max-body-width;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    font-size: 3.5rem;
    color: $button-text-color-inverted;
    text-shadow: $text-shadow-fancy;

    @media (max-width: $max-body-width) {
        margin-left: 1rem;
    }
}

.line {
    margin: 0.5rem 0;
}

.emphasize {
    font-weight: 800;
    font-style: italic;
}

.signup {
    margin-top: 1.5rem;
    flex-grow: 0;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    background-color: $action-color;
    color: $button-text-color-inverted;
}

.recentlyAdded {
    min-height: 400px;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;

    h1 {
        padding-bottom: 1rem;
    }

    @media (max-width: $max-body-width) {
        padding: 4rem 1rem;
    }
}

.recentlyAdded {
    max-width: $max-body-width;
    margin: 0 auto;
}

.viewMore {
    align-self: center;
}