@import "view/styles/all";

.chip {
    font-size: 0.85rem;
    padding: 10px;
    border-radius: 5px;
    background-color: $secondary-button-background-color;
    display: inline-block;

    &:after {
        content: "";
        height: 10px;
        width: 10px;
        border-radius: 50%;
        display: inline-block;
        margin-left: 8px;
        background-color: $no-info-color;
    }
}

.value1::after {
    background-color: $watered-color;
}

.title {
    font-weight: 700;
    margin-right: 10px;
}