@import "view/styles/all";

.editing {
    visibility: hidden;
}

.header {
    padding: 0.5rem 0;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    h1 {
        margin: 0;
    }
}

.notes {
    margin-top: 1rem;
    padding: 1rem 0;
    border-top: 1px solid $border-color;
    font-size: 0.9rem;
    cursor: pointer;
}