@import "view/styles/all";

.footer {
    background-color: $card-background-color;
    font-size: 0.7rem;
    padding: 10rem 0 5rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}