@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400;1,800&display=swap");
@import "view/styles/all";

html {
    font-size: 100%;
    background-color: $light-grey-2;
}

html, body {
    height: 100%;
    margin: 0;
}

html,
input,
button,
select,
textarea {
    font-family: "Playfair Display", Helvetica, sans-serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input, 
button {
    border: 0;
    border-radius: $button-border-radius;
    padding: $button-padding;
}

button,
input[type="submit"] {
    cursor: pointer;
    font-size: 1rem;
    border-radius: $button-border-radius;
    padding: $button-padding;
}

:global(.simple-button) {
    background-color: transparent;
}

:global(.primary-button) {
    font-weight: bold;
    background-color: $primary-button-background-color;

    &:hover {
        background-color: $primary-button-background-color-hover;
    }
}

:global(.icon-button) {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        width: 18px;
        height: 18px;
    }
}

:global(.secondary-button) {
    background-color: $secondary-button-background-color;

    &:hover:not(:disabled) {
        background-color: $secondary-button-background-color-hover;
    }

    &:disabled {
        opacity: 0.3;
    }
}

:global(.action-button) {
    font-weight: bold;
    background-color: $action-color;
    color: $button-text-color-inverted;

    &:hover {
        background-color: $action-color-hover;
    }
}

:global(.warning-button) {
    color: $button-text-color-inverted;
    background-color: $warning-button-background-color;

    &:hover {
        background-color: $warning-button-background-color-hover;
    }
}

:global(.button-group) {
    button:not(:first-child) {
        margin-left: 1rem;
    }
}

:global(.small-modal) {
    padding: 1.5rem;
    width: 350px;

    section {
        text-align: center;
    }
}

a {
    text-decoration: none;
    color: $link-color;
}

a:hover {
    color: $link-color-hover;
}

h1 {
    margin: 0 0 1rem 0;
}

h2 {
    margin: 0;
}


:global(.ReactModal__Content) {
    position: absolute;
    background-color: $card-background-color;
    border-radius: $button-border-radius;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    outline: none;
}