@import "view/styles/all";

.button {
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}

.button {
    font-weight: bold;
    background-color: $primary-button-background-color;

    &:hover,
    &.button--active {
        background-color: $action-color;
        color: $button-text-color-inverted;
    }
}