@import "view/styles/all";

.add {
    display: inline-flex;
    height: 100%;
    transition: all 150ms ease-out;
    overflow: hidden;
    transform: translate(-10%); 
    opacity: 0;
    
    :global(.RoomFilterButtons-enter-done) & {
        transform: translate(0);
        opacity: 1;
    }
}

.input {
    font-size: 1rem;
    font-weight: bold;
    border-radius: $button-border-radius;
    padding: 0.8rem 1rem;
}

.smallButton {
    background-color: transparent;

    &:hover {
        color: $dark-grey-1;
        fill: $dark-grey-1; 
    }
}

.saveButton {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
}

.checkIcon {
    width: 19px;
    height: 19px;
}

.cancelButton {
    font-size: 1.2rem;  
    padding: 0.5rem;
}