@import "view/styles/all";

.body {
    min-height: 80vh;
    background-color: $light-grey-2;
}

.container {
    max-width: $max-body-width;
    margin-right: auto;
    margin-left: auto;

    @media (max-width: $screen-width-desktop) {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

