@import "view/styles/all";

.wrapper {
    position: relative;
    display: flex;
}

.icon {
    width: 18px;
    height: 18px;
    fill: $light-grey-1;
    
    &.iconWatered{
        fill: $watered-color;
    }

    .wrapper:hover & {
        fill: $watered-color;
    }
}

.tooltip {
    display: none;
    position: absolute;
    font-size: 0.8rem;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: $button-border-radius;
    color: $button-text-color-inverted;
    white-space: nowrap;
    z-index: $z-index-modal;

    .wrapper:hover & {
        display: block;
    }
}