@import "view/styles/all";

.title {
    color: $button-text-color-inverted;
    text-shadow: $text-shadow-fancy;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    min-height: 300px;
    padding: 1.5rem;
    background-image: no-repeat;
    background-size: cover;
    border-bottom-left-radius: $button-border-radius;
    border-bottom-right-radius: $button-border-radius;
}

.button {
    margin-left: 1rem;
}