@import "view/styles/all";

.chip {
    margin-right: 10px;
}

.selects {
    display: flex;
}

.selectWrapper {
    display: flex;
    flex-direction: column;

    label {
        font-size: 0.7rem;
        margin-bottom: 0.3rem;
    }

    &:not(:first-child) {
        margin-left: 1rem;
    }
}

.select {
    font-size: 0.9rem;
    border: 1px solid $light-grey-1;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
}