.searchInput {
   font-size: 1.2em;
   width: 100%;
   padding: 0.8em 1em;
   border-radius: 20px;
   border: 0;
   margin: 1.5em 0;
   box-sizing: border-box;
}

.main {
   margin-bottom: 20rem;
}

.notFound {
   text-align: center;
   width: 100%;
   font-style: italic;
   margin: 3rem 1rem;
}

.plants {
   margin-top: 0.5rem;
}

.roomFilters {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}

.roomFilterButtons {
   width: 90%;
   display: flex;
   justify-content: flex-start;
}

.loading {
   margin-left: auto;
   margin-right: auto;
   margin-top: 8rem;
}