@import "view/styles/all";

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

.autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    list-style-type: none;
    margin: 0.2rem 0 0 0;
    padding: 0;
    background-color: $card-background-color;
    border-radius: $button-border-radius;
    box-shadow: 1px 1px 3px $dark-grey-1;
    max-height: 270px;
    overflow-y: auto;
    z-index: $z-index-modal;
}

.option {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 100%;
    text-align: left;

    &:hover {
        background-color: $primary-button-background-color-hover;
    }
}

.subtitle {
    font-size: 0.8rem;
}