@import "view/styles/all";

.main {
    max-width: 800px;
    margin: 3rem auto;
    min-height: 1000px;
    padding: 0 1rem;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete {
    font-weight: 700;
    font-size: 0.8rem;
}