@import "view/styles/all";

.carousel {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    display: flex;

    @media (max-width: $screen-width-tablet) {
        height: 300px;
    }
}

.container {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    padding: 2rem 45px;
    display: flex;
    flex-grow: 1;
    max-height: 400px;
    height: 100%;
    width: 100%;

    &.containerLoading {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.imageWrapper {
    position: absolute;
    height: calc(100% - 4rem);
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 200ms ease-out;
 
    &:not(.default) {
        display: none;
        opacity: 0;
    }
}

:global(.CarouselImg-enter).imageWrapper {
    display: block;
}

:global(.CarouselImg-enter-done).imageWrapper {
    opacity: 1;
    display: block;
}

:global(.CarouselImg-exit).imageWrapper {
    opacity: 0;
}

:global(.CarouselImg-exit-done).imageWrapper {
    opacity: 0;
    display: none;
}

.img {
    height: 100%;    
}

.arrowButton {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: $z-index-above-cards;

    &.left {
        left: 0;
    }

    &.right {
        right: 0;
    }

    &.hidden {
        display: none;
    }
}

.icon {
    width: 13px;
    height: 100%;
}

.pager {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;

    &.hidden {
        display: none;
    }
}

.menu {
    display: none;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;

    .imageWrapper:hover &,
    &.noPhoto {
        display: flex;
    }
}
