@import "view/styles/all";

.loadingDots {
    position: relative;
    display: flex;
    height: 20px;
    align-items: center;
    justify-content: space-between;

    &.large {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        border-radius: $button-border-radius;
        background-color: $card-background-color;
    }
}

.dot {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background-color: $dark-grey-1;
    opacity: 0.3;
    animation: loading 500ms infinite alternate ease-in;
    animation-delay: 0;
    
    &:not(:first-child) {
        margin-left: 3px;
    }

    &.dot2 {
        animation-delay: 250ms;
    }

    &.dot3 {
        animation-delay: 500ms;
    }
}

@keyframes loading {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}