@import "view/styles/all";

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    min-height: 600px;
}

.title {
    font-size: 10rem;
    font-weight: 800;
    font-style: italic;
    color: $button-text-color-inverted;
    text-shadow: $text-shadow-fancy, 0 1px $text-color, 1px 0 $text-color, 0 -1px $text-color;
    margin-bottom: 2rem;
}