@import "view/styles/all";

.main {
    position: relative;
}

.dropdown {
    display: none;
    position: absolute;
    right: 0;
    background-color: $card-background-color;
    margin-top: 0.2rem;
    border-radius: $button-border-radius;
    border: 1px solid $light-grey-4;
    list-style-type: none;
    padding: 0;
    width: 10rem;
    z-index: $z-index-above-cards;

    li:not(:last-child) {
        border-bottom: $thin-border;
    }

    &.dropdownShowing {
        display: block;
    }

    li button {
        width: 100%;
        text-align: left;
        background-color: $primary-button-background-color;
    
        &:hover {
            background-color: $primary-button-background-color-hover;
        }
    }
}

.large {
    padding: 0.9rem 1rem;
}