@import "view/styles/all";

.formField {
    margin: 1rem 0;

    input {
        width: 100%;
        box-sizing: border-box;
        border: 1px solid $light-grey-2;
        background-color: $light-grey-3;
        color: $text-color;
    }

    &.error input {
        border: 1px solid $error-color;
    }
}