@import "view/styles/all";

.main {
    width: 100%;
    height: 60vh;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form {
    text-align: center;
    width: 20%;
    min-width: 400px;
    background-color: white;
    margin: 0 auto;
    border-radius: 20px;
    padding: 2rem;
}