@import "view/styles/all";

.input {
    font-size: 1rem;
    font-weight: bold;
    border-radius: $button-border-radius;
    padding: 0.8rem 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;

    &:focus {
        box-shadow: inset 0 0 0 2px $action-color;
    }
}
