@import "view/styles/all";

.main {
    display: flex;

    @media (max-width: $screen-width-tablet) {
        flex-direction: column;
    }
}

.column {
    width: 50%;

    @media (min-width: $screen-width-tablet) {
        &:not(:first-child) {
            margin-left: 2rem;
        }
    }

    @media (max-width: $screen-width-tablet) {
        width: 100%;

        &:not(:first-child) {
            margin-top: 2rem;
        }
    }
}

.week {
    display: flex;
    flex-wrap: nowrap;
    border-top: $thin-border;

    &:last-child {
        border-bottom: $thin-border;
    }
}

.day {
    width: 14.2%;
    min-height: 70px;
    border-left: $thin-border;
    cursor: pointer;

    &:last-child {
        border-right: $thin-border;
    }
}

.title {
    padding: 0;
    margin: 0 10px 0 10px;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.toggles {
    display: flex;
}

.toggleButton {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0;
}

.toggleIcon {
    width: 13px;
    height: 100%;
}

