@import "view/styles/all";

.mood {
    &.value-DEAD::after {
        background-color: $mood-dead-color;
    }
    
    &.value-SAD::after {
        background-color: $mood-sad-color;
    }
    
    &.value-OKAY::after {
        background-color: $mood-okay-color;
    }
    
    &.value-HAPPY::after {
        background-color: $mood-happy-color;
    }
}