@import "view/styles/all";

.header {
    background-color: $brand-color;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: $z-index-sticky;
}

.innerHeader {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: $max-body-width;
    margin: 0 auto;
}

.headerLinks {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.headerLinkItem {
    display: inline-block;
    padding: 0 1.5rem;;
}

.headerLinkActive {
    border-bottom: 1px solid $button-text-color-inverted;
}

.title {
    display: inline-block;
}

.headerLink,
.titleLink {
    text-decoration: none;
    color: $button-text-color-inverted;

    &:hover {
        color: $button-text-color-inverted;
    }
}

.rightSideLink {
    margin-left: auto;
}
