@import "view/styles/all";

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1.6rem;

    @media (max-width: $max-body-width) {
        justify-content: flex-start;
    }

    @media (max-width: $screen-width-small-desktop) {
        margin: 0 -0.2rem;
    }
}

.card {
    cursor: pointer;
    text-decoration: none;
    color: $text-color;

    @media (max-width: $screen-width-small-desktop) {
        margin: 0.2rem;
    }
}

.loading,
.image {
    height: 215px;
    width: 215px;
}

.loading,
.card {
    margin: 1rem 1.6rem;
}

.loading,
.bg {
    border-radius: $button-border-radius;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.loading {
    background-color: $light-grey-4;
}

.bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: opacity 120ms ease-out;
}

.info {
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.subTitle {
    font-style: italic;
    font-size: 0.82rem;
}

.hoverText {
    font-style: italic;
    display: none;
    z-index: $z-index-above-cards;
}

.card:hover {
    .hoverText {
        display: flex;
    }
    
    .bg {
        opacity: 0.4;
    }
}

.view {
    font-size: 1.3rem;
    font-style: italic;
}