@import "view/styles/all";

.formField,
.formFieldCol {
    display: flex;
    flex-direction: column;
}

.formField {
    margin: 2rem 0;
}

.label {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.input {
    font-size: 1rem;
}

.formFieldRow {
    display: flex;
}

.formFieldCol {
    width: 6rem;
    margin-right: 1rem;

    .label {
        font-style: italic;
    }
}

.error input {
    border: 1px solid $error-color;
}

input[type="submit"] {
    margin-right: 1rem;
}