@import "view/styles/all";

.textarea {
    width: 100%;
    height: 120px;
    padding: 0.8rem;
    resize: none;
    border-color: $light-grey-1;
    border-radius: $button-border-radius;
    border-width: 1px;
    box-sizing: border-box;
    border-style: solid;
    
    &:focus {
        box-shadow: 0 0 0 2px $action-color;
    }
}

.noNotes {
    font-style: italic;
}
