@import "view/styles/all";

.selectWrapper {
    position: relative;
}

.select {
    appearance: none;   
    cursor: pointer;
    font-size: inherit;
    border: 0;
    border-radius: $button-border-radius;
    padding: 0.8rem 2rem 0.8rem 1rem;
    width: 100%;
}

.svg {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -5px;
    transform: rotate(-90deg);
}