@import "view/styles/all";

.day {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
}

.number {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 0.65rem;
    position: absolute;
    left: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;

    &.numberSelected {
        border-radius: 50%;
        background-color: $dark-grey-2;
        color: $button-text-color-inverted;
    }

    .dayPast &:not(.numberSelected) {
        opacity: 0.4;
    }
}

.icons {
    display: none;
    width: 100%;
    justify-content: center;

    .dayWatered & {
        display: flex;
    }

    .day:hover & {
        display: flex;
    }
}