@import "view/styles/all";

.editPhoto {
    width: 30px;
    height: 30px;
    padding: 0.3rem;

    svg {
        fill: $black;
        width: 100%;
    }
}

.preview {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.fileInput {
    display: none;
}

.fileChooser {
    cursor: pointer;
    border-radius: $button-border-radius;
    padding: $button-padding;
}

.defaultLabel {
    display: block;
    margin-bottom: 1.5rem;

    &.disabled {
        opacity: 0.5;
    }
}

.defaultCheckbox {
    margin-right: 0.5rem;
} 